{% extends 'base.html.twig' %}

{% block title %}Modifier Acronyme{% endblock %}

{% block body %}
    <h1>Modifier Acronyme</h1>

    {{ include('acronyme/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn" href="{{ path('acronyme_index') }}">Retour a la liste</a>

    {{ include('acronyme/_delete_form.html.twig') }}
{% endblock %}
