{% extends 'base.html.twig' %}

{% block title %}Nouveau Acronyme{% endblock %}

{% block body %}
    <h1>Creer un Acronyme</h1>

    {{ include('acronyme/_form.html.twig') }}

    <a class="btn" href="{{ path('acronyme_index') }}">Retour a la liste</a>
{% endblock %}
