{% extends 'base.html.twig' %}

{% block title %}Nouveau Role{% endblock %}

{% block body %}
    <h1>Creer un Role</h1>

    {{ include('role/_form.html.twig') }}

    <a class="btn" href="{{ path('role_index') }}">Retour a la liste</a>
{% endblock %}
