{% extends 'base.html.twig' %}

{% block title %}Nouveau User{% endblock %}

{% block body %}
    <h1>Creer un User</h1>

    {{ include('user/_form.html.twig') }}

    <a class="btn" href="{{ path('user_index') }}">Retour a la liste</a>
{% endblock %}
